yarn-error.log
node_modules

/build
/public/build
.cache

/app/styles/tailwind.css
# Prisma client is placed outside of node_modules since pnpm does funky stuff w/ node_modules
/app/database/client/

.env*
!.env.example

.ipynb_checkpoints/
